<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/styles.css"/>
  </head>
  <body>
  
    <div id='header'>
      <h1> TIC TAC TOE </h1>
    </div>

    <div id='main'>
      <%= board %>
    </div>


    <div class=board id=board>
      <table id=MyTable>
          <tr>
              <td >  <%= board[0][0] %> <form method="post" action="/make-move/1" > <input type="text" name="mark"/> </form> </td> 
              <td >  <%= board[0][1] %> <form method="post" action="/make-move/2"> <input type="text" name="mark"/> </form> </td>
              <td >  <%= board[0][2] %> <form method="post" action="/make-move/3"> <input type="text" name="mark"/> </form> </td>
      
              <td >  <%= board[1][0] %> <form method="post" action="/make-move/4"> <input type="text" name="mark"/> </form> </td>
              <td >  <%= board[1][1] %> <form method="post" action="/make-move/5"> <input type="text" name="mark"/> </form> </td>
              <td >  <%= board[1][2] %> <form method="post" action="/make-move/6"> <input type="text" name="mark"/> </form> </td>
        
              <td >  <%= board[2][0] %> <form method="post" action="/make-move/7"> <input type="text" name="mark"/> </form> </td>
              <td >  <%= board[2][1] %> <form method="post" action="/make-move/8"> <input type="text" name="mark"/> </form> </td>
              <td >  <%= board[2][2] %> <form method="post" action="/make-move/9"> <input type="text" name="mark"/> </form> </td>
          </tr>
      </table>
    </div>

  </body>

    <%# <footer id='footer'> 
    Developed by Rebecca and George
    </footer> %>
</html>