<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/styles.css"/>
  </head>
  <body>
  
    <div id='header'>
      <h1> TIC TAC TOE </h1>
    </div>

    <div id='main'>
      <%= board %>
    </div>

    <div class=board id=board>
      <table id=MyTable>
          <tr>
              <td id=pos1>  <%= board[0][0] %> <form method="post" action="/make-move"> <input type="text" name="mark"/> </form> </td> 
              <td id=pos2>  <%= board[0][1] %> <form method="post" action="/make-move"> <input type="text" name="mark"/> </form> </td>
              <td id=pos3>  <%= board[0][2] %> <form method="post" action="/make-move"> <input type="text" name="mark"/> </form> </td>
          </tr>
          <tr>
              <td id=pos4>  <%= board[1][0] %> <form method="post" action="/make-move"> <input type="text" name="mark"/> </form> </td>
              <td id=pos5>  <%= board[1][1] %> <form method="post" action="/make-move"> <input type="text" name="mark"/> </form> </td>
              <td id=pos6>  <%= board[1][2] %> <form method="post" action="/make-move"> <input type="text" name="mark"/> </form> </td>
          </tr>
          <tr>
              <td id=pos7>  <%= board[2][0] %> <form method="post" action="/make-move"> <input type="text" name="mark"/> </form> </td>
              <td id=pos8>  <%= board[2][1] %> <form method="post" action="/make-move"> <input type="text" name="mark"/> </form> </td>
              <td id=pos9>  <%= board[2][2] %> <form method="post" action="/make-move"> <input type="text" name="mark"/> </form> </td>
          </tr>
      </table>
    </div>

  </body>

    <footer id='footer'> 
    Developed by Rebecca and George
    </footer>
</html>